/__pycache__/
/LaTeX_File/main.aux
/LaTeX_File/main.fdb_latexmk
/LaTeX_File/main.bcf-SAVE-ERROR
/LaTeX_File/main.fls
/LaTeX_File/main.log
/LaTeX_File/main.log
/LaTeX_File/main.out
/LaTeX_File/main.toc
/LaTeX_File/main.run.xml
/LaTeX_File/main.synctex.gz
/LaTeX_File/main.bbl
/LaTeX_File/main.bcf
/LaTeX_File/main.blg